.container {
  position: relative;
  color: white;
  min-height: 100vh;
  background: linear-gradient(rgba(2,0,36,1) 0%, rgb(95, 47, 150) 26%, rgb(60, 30, 95) 66%, rgb(44, 21, 69) 86%);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.nav {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: gray;
}

.main {
  text-align: center;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  transition: transform 1s ease, opacity 1s ease;
}

.main-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.main-description {
  font-size: 24px;
  margin-bottom: 40px;
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
}

.main-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 35px;
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
  position: relative;
  transition: 1s;
}

.main-button img {
  width: 100%;
  height: 100%;
}

.main-button:hover {
  box-shadow: 0 0 10px white;
}

.main-button.animate {
  margin: auto;
  margin-top: 5vw;
  scale: 1.5;
  transition: 1s;
}

.main-button.animate:hover {
  margin: auto;
  margin-top: 5vw;
  scale: 1.5;
  transition: 1s;
  border: none;
  box-shadow: none;
  cursor:auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
  gap: 20px;
  transition: transform 1s ease, opacity 1s ease;  
}

.features.hidden {
  transform: translateX(100%);
  opacity: 0;
}

.feature {
  width: 200px;
  text-align: center;
}

.icon {
  margin-bottom: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.feature-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.feature-description {
  color: gray;
  margin-bottom: 20px;
}

.feature-button {
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.feature-button:hover {
  background-color: #472370;
  color: white;
  box-shadow: 0 0 5px #3B82F6;
  background-position: 50% 50%;
  background-size: 0% 0%;
  background-repeat: no-repeat;
  animation: fillButton 0.5s forwards;
}

@keyframes fillButton {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}
