<nz-layout>
  <app-header></app-header>
  <nz-content style="padding: 0 50px;">
    <nz-breadcrumb style="margin: 16px 0;">
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>Converse</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="site-layout-content">
      <h1>Converse Page</h1>
      <nz-card nzTitle="Card Title" nzBordered="false" style="width:300px;">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
    </div>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>
